.logo {
  width: 100px;
  height: 100px;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.nav-items > ul > li {
  margin: 10px;
}

.nav-items > ul > a {
  margin: 10px;
}

.search {
  margin: 10px;
}

.res-image {
  width: 100%;
  height: 60%;
}

.res-card {
  width: 350px;
  height: 450px;
  border: 1px solid transparent;
  margin: 10px;
  padding: 5px;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.filter-bar {
  display: flex;
}

.top-rated-restaurants {
  margin: 10px;
}

.restaurant-details {
  display: flex;
}

.rest-menu-list {
  margin: 50px;
}

.shimmer-card {
  width: 350px;
  height: 450px;
  margin: 10px;
  background-color: lightgray;
}
